@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.notFoundDiv {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

.notFound {
	font-size: 15vw;
	background-image: url(https://images.unsplash.com/photo-1436891620584-47fd0e565afb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 700;
}
