.canvas {
  position: relative;
  display: inline-block;
}
.canvas img {
  width: 100%;
}
.canvas:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.6) inset;
}

.heading__text {
  font-size: 70px;
}

.margin {
  margin-left: 20px;
  margin-right: 20px;
}



@media screen and (min-width: 500px) {
  .align{
    margin-bottom: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .align{
    margin-bottom: 200px;
  }
  .marginleft1{
    margin-left: 1%;
  }
  .marginleft2{
    margin-left: 20%;
  }
  .marginleft3{
    margin-left: 35%;
  }
}
@media screen and (max-width: 1024px) {
  .heading__text {
    font-size: 50px !important;
  }
  .aboutTintTextPosition {
    top: 25% !important;
  }
  .hiringTintTextPosition {
    top: 25% !important;
  }
  
  
}
@media screen and (max-width: 768px) {
  .heading__text {
    font-size: 45px !important;
  }
}
@media screen and (max-width: 600px) {
  .heading__text {
    font-size: 30px !important;
  }
  /* .aboutTintTextPosition {
    top: 22% !important;
    width: 90vw !important;
  }
  .hiringTintTextPosition {
    top: 22% !important;
  } */
}
@media screen and (max-width: 375px) {
  .heading__text {
    font-size: 28px !important;
  }
  /* .aboutTintTextPosition {
    top: 21% !important;

    width: 90vw !important;
  }
  .hiringTintTextPosition {
    top: 21% !important;
  } */
}
@media screen and (max-width: 360px) {
  .heading__text {
    font-size: 25px !important;
  }
  /* .aboutTintTextPosition {
    top: 20% !important;
    left: 7% !important;
    transform: translate(0%, 0%) !important;
    width: 90vw !important;
  } */
}
@media screen and (max-width: 320px) {
  .heading__text {
    font-size: 20px !important;
  }
  /* .aboutTintTextPosition {
    top: 23% !important;
  }
  .hiringTintTextPosition {
    top: 23% !important;
  } */
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  align-items: center;
  align-content: center;
}